<div class="container">
  <div class="container container-fluid">
    <div class="card">
      <div class="card card-header"><h3>Ajout d'un nouveau compte</h3></div>
      <div class="card card-body">
        <form #f="ngForm" (ngSubmit)="addCompte(f.value)">
          <div>
            <select name="typeCte" (change)="typeCompte(f.value)" ngModel>
              <option value="CC">Compte courant (CC)</option>
              <option value="CE">Compte epargne (CE)</option>
            </select>
          </div>
          <div *ngIf="showForm">
            <div><input type="hidden" [ngModel]="idClient" name="idClient" /></div>
            <button class="btn btn-primary btn-block" type="submit" [disabled]="f.invalid">Création nouvelle compte</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
